* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: 130px auto 150px;
    grid-template-columns: 100vw;
    grid-template-areas: "." "main" "footer";
    justify-content: center;
    margin: 0px;
}

header {
    /* grid-area: header; */
    height: 100px;
    margin: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    background-color: rgb(68, 68, 68);
}

#logo {
    margin: 15px;
}

a {
    align-self: center;
    margin-left: 35px;
    font-size: 20px;
    padding: 10px;
    color: #aaa;
}

main {
    width: 960px;
    justify-self: center;
    grid-area: main;
    display: grid;
    grid-template-rows: 480px 390px 415px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "Hero Hero Hero Hero Hero Hero" 
    "Sub1 Sub1 Sub2 Sub2 Sub3 Sub3" 
    "FeatBan FeatBan FeatBan FeatSec FeatSec FeatSec";
    justify-content: center;
}

#hero-image {
    grid-area: Hero;
    align-self: top;
}

#sub-banner-1 {
    grid-area: Sub1;
    justify-self: left;
}

#sub-banner-2 {
    grid-area: Sub2;
    justify-self: center;
}

#sub-banner-3 {
    grid-area: Sub3;
    justify-self: right;
}

#featured-section-banner {
    grid-area: FeatBan;
    margin-top: 15px;
}

#featured-section {
    grid-area: FeatSec;
    margin-left: 30px;
    margin-top: 15px;
}

#featured-section-text {
    overflow: scroll;
}

h2 {
    font-size: 28px;
}

section {
    display: grid;
    grid-template-rows: 350px 50px;
    grid-template-areas: "featured-section-text" "feat-button";
}

p {
    font-size: 22px;
}

button {
    margin-top: 10px;
    width: 170px;
    background: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
    transition: background-color 350ms ease;
    font-size: 18px;
    border: 1px solid black;
}

button:hover {
    background: white;
    color: black;
}

footer {
    grid-area: footer;
    margin-top: 30px;
    height: 120px;
    background-color: rgb(68, 68, 68);
}